.hidden {
    padding: 0;
    outline: 0;
    background: lightgray;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 250ms;
    transition-property: top, left, background;
}

.hidden:not([disabled]):focus,
.hidden:not([disabled]):hover {
    background: gray;
    top: -.125rem;
    left: -.125rem;
}

.hidden:not([disabled]):active:focus,
.hidden:not([disabled]):active:hover {
    top: 0;
    left: 0;
}

.flagged.hidden:not([disabled]):focus,
.flagged.hidden:not([disabled]):hover {
    background: lightgray;
}

.flagged:before,
.flagging.hidden:focus:before,
.flagging.hidden:hover:before {
    content: "🚩";
    font-size: 1.25rem;
    padding-bottom: .125rem;
}


.flagging.hidden:not(.flagged):focus:before,
.flagging.hidden:not(.flagged):hover:before {
    color: transparent;
    text-shadow: 0 0 0 darkgray;
}

.flagging.hidden:not([disabled]):focus,
.flagging.hidden:not([disabled]):hover {
    background: lightgray;
}
