.container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.button {
    border: 1px solid black;
    border-radius: 2px;
    background: white;
    display: flex;
    min-height: 2rem;
    min-width: 8rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button:not([disabled]):focus,
.button:not([disabled]):hover  {
    background: #eeeeee;
}

.button:disabled {
    /*background: #eeeeee;*/
    border: 1px solid #aaaaaa;
}

.flag {
    color: transparent;
    text-shadow: 0 0 0 lightgray;
    font-size: 1.75rem;
    margin-right: .5rem;
}

.active {
    animation-duration: 1.5s;
    animation-name: wiggleKeyFrames;
    animation-iteration-count: infinite;
    color: unset;
    text-shadow: unset;
}

@keyframes wiggleKeyFrames {
    0% { transform: translateX(0%); }
    15% { transform: translateX(-25%) rotate(-5deg); }
    30% { transform: translateX(20%) rotate(3deg); }
    45% { transform: translateX(-15%) rotate(-3deg); }
    60% { transform: translateX(10%) rotate(2deg); }
    75% { transform: translateX(-5%) rotate(-1deg); }
    100% { transform: translateX(0%); }
}
