.board {
    background: black;
    border-radius: 2px;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
