h2 {
    padding: 0;
    margin: 0 0 .25rem 0;
}

.filters button {
    margin-right: .25rem;
    margin-bottom: .25rem;
}

.summaries {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
