.line {
    display: flex;
    flex-direction: row;
    border-bottom: 1px dotted gray;
    margin-bottom: .25rem;
}

.label {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.value {
    display: flex;
    flex-direction: column;
    flex: 0;
}
